<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Detail List</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo_list.name }} </h1>
            <h2>{{ todo_item.task }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in totdolistdetail %}
                    <tr>
                        <td><a href={ url '/todo_list/' }>{{ task.task }}</a></td>
                        <td><a href={ url '/todo_list/' }>{{ task.due_date }}</a></td>
                    </tr>
                    {{% endfor %}}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
